fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
passlib[bcrypt]
python-jose[cryptography]
python-multipart
# MongoDB
motor
pymongo
# RAG Dependencies
langchain
langchain-community
faiss-cpu
sentence-transformers
pypdf
tiktoken
# LLM
langchain-mistralai
mistralai
python-dotenv
